# Database
DATABASE_URL="postgresql://postgres@localhost:5432/siteuptime?schema=public"


# JWT Authentication
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-chars"
JWT_EXPIRES_IN="7d"

# App Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3000"
NODE_ENV="development"

# Pusher (Real-time notifications)
PUSHER_APP_ID="2073418"
NEXT_PUBLIC_PUSHER_KEY="513b8d24ec461ef46c2a"
PUSHER_SECRET="62a4b788f4a1ff2caeea"
NEXT_PUBLIC_PUSHER_CLUSTER="ap2"

# Resend (Email service)
RESEND_API_KEY="re_KNJJZzhc_CqSMbQEFzsFuQ4tE7rM9g4F5"

# Cron Security
CRON_SECRET="dev-secret-change-in-production"

# Stripe (for payments)
STRIPE_SECRET_KEY="sk_test_51SQ24EQuBR2IB5zIL9InGJ9tuGynbaL9yZZSdietNinIA7ROmiRhiU1dpT3qgDmZHuWnN50H4rT9raHjjHJvRs5p00CsKqAi9l"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51SQ24EQuBR2IB5zIttqmwlaBnjtmqVkYj99tndnuR5gYJK0yS9VG00OvFVlFeD5e52vwjYo4rAfueNz1UcLNyDZW00x111o7ij"
STRIPE_WEBHOOK_SECRET="whsec_cbfb8b3456344a271c5563465dc4af70894379116a207032fdde169b4554ddb6"

# Stripe Product Price IDs (create these in your Stripe dashboard)
NEXT_PUBLIC_STRIPE_PRICE_STARTER="price_1SQN82QuBR2IB5zIwvJntBTh"
NEXT_PUBLIC_STRIPE_PRICE_PRO="price_1SQN8SQuBR2IB5zI1SAYTxWy"
NEXT_PUBLIC_STRIPE_PRICE_ENTERPRISE="price_1SQN8jQuBR2IB5zI6oYyRErW"


SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=


OPENAI_API_KEY=